<fieldset class="inline"> 
    <legend class="form-label-bold" for="do-you-use-an-aid">Do you use an aid or special equipment to eat?</legend>
    <div class="form-group">
        <label class="block-label" for="do-you-use-an-aid-yes">
            <input id="do-you-use-an-aid-yes" type="radio" name="do-you-use-an-aid" value="Yes">
            Yes
        </label>
        <label class="block-label" for="do-you-use-an-aid-no">
            <input id="do-you-use-an-aid-no" type="radio" name="do-you-use-an-aid" value="No">
            No
        </label>  
    </div>
</fieldset>


