<fieldset class="inline"> 
    <legend class="form-label-bold" for="do-you-need-supervising">Do you need supervising whilst eating for your own safety?</legend>
    <div class="form-group">
        <label class="block-label" for="do-you-need-supervising-yes">
            <input id="do-you-need-supervising-yes" type="radio" name="do-you-need-supervising" value="Yes">
            Yes
        </label>
        <label class="block-label" for="do-you-need-supervising-no">
            <input id="do-you-need-supervising-no" type="radio" name="do-you-need-supervising" value="No">
            No
        </label>  
    </div>
</fieldset>


