<fieldset class="inline"> 
    <legend class="form-label-bold" for="do-you-use-a-feeding">Do you use a feeding tube or similar device to eat?</legend>
    <div class="form-group">
        <label class="block-label" for="do-you-use-a-feeding-yes">
            <input id="do-you-use-a-feeding-yes" type="radio" name="do-you-use-a-feeding" value="Yes">
            Yes
        </label>
        <label class="block-label" for="do-you-use-a-feeding-no">
            <input id="do-you-use-a-feeding-no" type="radio" name="do-you-use-a-feeding" value="No">
            No
        </label>  
    </div>
</fieldset>


