<fieldset class="inline"> 
    <legend class="form-label-bold" for="do-you-need-prompting">Do you need, prompting or reminding to eat?</legend>
    <div class="form-group">
        <label class="block-label" for="do-you-need-prompting-yes">
            <input id="do-you-need-prompting-yes" type="radio" name="do-you-need-prompting" value="Yes">
            Yes
        </label>
        <label class="block-label" for="do-you-need-prompting-no">
            <input id="do-you-need-prompting-no" type="radio" name="do-you-need-prompting" value="No">
            No
        </label>
    </div>
</fieldset>
