				<h1 class="form-title heading-large">
				Consent
				</h1>
				
				<!-- terminal illness -->
				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="consent">Do you agree to us contacting any health care professionals you have told us about?</legend>
					
					<div class="form-group"><!-- 'form-group-compound' -->	
						<label class="block-label" for="consent-yes">
							<input id="consent-yes" type="radio" name="consent" value="Yes">
							Yes
						</label>
						<label class="block-label" for="consent-no">
							<input id="consent-no" type="radio" name="consent" value="No">
							No
						</label>
					</div>
				</fieldset>
				
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>

