{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

{{>includes/phase_banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-number grid-row">
						<div class="column-half">
							<li class="active font-xsmall">
								<a href="overview.html" title="Part 1: Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								<a href="what-youll-get.html" title="Part 2:  What you'll get">What you’ll get</a>
							</li>
							<li class="font-xsmall">
								<a href="eiligibility.html" title="Part 3: Eligibility">Eligibility</a>
							</li>
						</div>
						<div class="column-half">
							<li class="active font-xsmall">
								<a href="make-a-claim.html" title="Part 4: Make a claim">Make a claim</a>
							</li>
							<li class="active font-xsmall">
								<span>Appeals</span>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">5. Appeals</h1>
		    </header>
			<article>
				<p>Follow these steps if you’re unhappy with your Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) decision.</p>
				
				<ol class="list-number">
					<li>Discuss the decision with the Department for Work and Pensions (<abbr title="Department for Work and Pensions">DWP</abbr>).</li>
					<li>Make a formal request to have the decision looked at again (known as ‘mandatory reconsideration’) if you’re still unhappy.</li>
					<li>Appeal the decision if you’re unhappy with the mandatory reconsideration.</li>
				</ol>
				<h2 class="heading-medium">Discuss the decision with <abbr title="Department for Work and Pensions">DWP</abbr></h2>
				
				<p><abbr title="Department for Work and Pensions">DWP</abbr> will try and contact you to discuss the decision once you’ve got the letter explaining why you’re not eligible. </p>
				
				<p>You can tell them why you don’t agree and give more information to support your argument, eg if your circumstances have changed. </p>
				
				<p>You can also contact <abbr title="Department for Work and Pensions">DWP</abbr> before they contact you. The telephone number and address will be on your decision letter. </p>
				
				<div class="panel-indent">
					<p>Contact <abbr title="Department for Work and Pensions">DWP</abbr> as soon as possible if you think they’ve overlooked something or if your situation has changed.</p>
				</div>
				
				<h2 class="heading-medium">Ask for a ‘mandatory reconsideration’</h2>
				
				<p>If you’re still unhappy, you can contact <abbr title="Department for Work and Pensions">DWP</abbr> again and formally ask them to look at their decision again. This is called ‘mandatory reconsideration’ - you have to do it before you can appeal a decision. </p>
				
				<p>You can phone or write to <abbr title="Department for Work and Pensions">DWP</abbr> and ask for a mandatory reconsideration - the details are on your decision letter. </p>
				
				<p>You have to ask for a mandatory reconsideration within 1 month of the date of your decision letter. </p>
				
				<p>You must give reasons why you’re asking for a reconsideration. You might want to include further information to support your case. </p>
				
				<p>You’ll receive a ‘mandatory reconsideration notice’ as a response. </p>
				
				<h2 class="heading-medium">How to appeal</h2>
				
				<p>You can appeal your decision if you’re still unhappy with <abbr title="Department for Work and Pensions">DWP</abbr>’s response in the mandatory reconsideration notice. </p>
				
				<p>Fill in the form <a rel="external" href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3038">‘Notice of appeal against a decision of the Department for Work and Pensions - SSCS1’</a> and send it to the address on the form.</p>
				
				<div class="panel-indent">
					<p>You must send form SSCS1 within 1 calendar month of the date on the mandatory reconsideration decision letter and include your mandatory reconsideration notice.</p>
	        
	    </div>
	</div>
	<div class="column-third">
		
	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
