{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

	{{>includes/phase_banner}}
	<form action="s4.html" method="#" class="form">
		<div class="grid-row sectioning">
			<div class="column-two-thirds">

				
				
					<a href="make" class="example-back-link">Back</a>
					
					<!--div class="section-progress">
					Step 3 of 17
					</div-->
					
					<h1 class="form-title heading-large">
					Before you start
					</h1>

					<p>To qualify for Personal Independence Payment (<abbr>PIP</abbr>) you must have an under lying condition that affects either your mobility, physicality or mental health.</p>
					
					
					<fieldset>
						<legend class="form-label-bold">Which of the following affects you?</legend>
						<p>Select all that apply</p>

						<label class="block-label" for="mobility">
							<input id="checkbox-1" type="checkbox" value="waste-animal">
						Mobility <span class="form-hint">Difficulties moving around.</span>
						</label>
						<label class="block-label" for="checkbox-2">
							<input id="checkbox-2" type="checkbox" value="waste-mines">
						Physical <span class="form-hint">Difficulties with doing simple physical tasks.</span>
						</label>
						<label class="block-label" for="checkbox-3">
							<input id="checkbox-3" type="checkbox" value="farm-agricultural">
						Mental <span class="form-hint">Difficulties with your mental health.</span>
						</label>
					</fieldset>

			</div>
			<div class="column-third">
				
			</div>
		</div>
		<div class="grid-row">
			<div class="column-two-thirds">

					<div class="example">

					<p>To qualify for Personal Independence Payment (<abbr>PIP</abbr>) you must have an under lying condition that affects either your mobility, physicality or mental health.</p>

					</div>
					
					<!-- Do you or anyone in your family work or pay insurance in any of these countries?  -->
					<fieldset>
					
						<legend class="form-label-bold add-padding" for="pay-insurance">Do you or anyone in your family work or pay insurance in any of these countries? </legend>
						
						<div class="form-group"><!-- 'form-group-compound' -->	
							<label class="block-label" for="pay-insurance-yes">
								<input id="pay-insurance-yes" type="radio" name="pay-insurance" value="Yes">
								Yes
							</label>
							<label class="block-label" for="pay-insurance-no">
								<input id="pay-insurance-no" type="radio" name="pay-insurance" value="No">
								No
							</label>         
						</div>  
					
					</fieldset>
					
					<!-- Primary buttons, secondary links -->
					<div class="form-group">
						<input type="submit" class="button" value="Continue">
					</div>
				
				
			  
			</div>
			<div class="column-third">
				
			</div>
		</div>
	</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
