{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

{{>includes/phase_banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-number grid-row">
						<div class="column-half">
							<li class="active font-xsmall">
								<a href="overview.html" title="Part 1: Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								<a href="what-youll-get.html" title="Part 2:  What you'll get">What you’ll get</a>
							</li>
							<li class="active font-xsmall">
								<span>Eligibility</span>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								<a href="make-a-claim.html" title="Part 4: Make a claim">Make a claim</a>
							</li>
							<li class="font-xsmall">
								<a href="appeals.html" title="Part 5: Appeals">Appeals</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">2. Eligibility</h1>
		    </header>
			<article>
				<p>To qualify for <abbr title="Personal Independence Payment">PIP</abbr>, you must:</p>
				
				<ul class="list-bullet">
					<li>be aged 16 to 64 </li>
					<li>have a <a href="/definition-of-disability-under-equality-act-2010">long-term health condition or disability</a> and difficulties with activities related to ‘daily living’ and or mobility </li>
					<li>be in Great Britain when you claim - there are some exceptions, eg members and family members of the Armed Forces </li>
					<li>have been in Great Britain for at least 2 of the last 3 years </li>
					<li>be <a rel="external" href="http://www.adviceguide.org.uk/england/benefits_e/benefits_coming_from_abroad_and_claiming_benefits_hrt/benefits_the_habitual_residence_test_introduction/what_is_the_habitual_residence_test.htm">habitually resident</a> in the UK, Ireland, Isle of Man or the Channel Islands</li>
					<li>not be subject to <a rel="external" href="http://www.adviceguide.org.uk/england/benefits_e/benefits_coming_from_abroad_and_claiming_benefits_hrt/non-eea_nationals_and_the_hrt/are_you_subject_to_immigration_control_hrt.htm">immigration control</a> (unless you’re a sponsored immigrant)</li>
				</ul>
				<p>There are some exceptions to these conditions if you’re <a href="/claim-benefits-abroad/illness-injury-and-disability-benefits">living or coming from another <abbr title="European Economic Area">EEA</abbr> country or Switzerland</a>.</p>
				
				<div class="panel-indent">
					<p>You can get <abbr title="Personal Independence Payment">PIP</abbr> whether you’re in work or not.</p>
				</div>
				
				<h2 class="heading-medium">Your disability or health condition</h2>
				
				<p>You must have a long-term health condition or disability and have difficulties with activities related to ‘daily living’ and or mobility. </p>
				
				<p>You must have had these difficulties for 3 months and expect them to last for at least 9 months. If you’re terminally ill (ie not expected to live more than 6 months), you don’t need to have had these difficulties for 3 months.</p>
				
				<h3 class="heading-small">Daily living difficulties</h3>
				
				<p>You may get the daily living component of <abbr title="Personal Independence Payment">PIP</abbr> if you need help with things like: </p>
				
				<ul class="list-bullet">
					<li>preparing or eating food</li>
					<li>washing, bathing and using the toilet</li>
					<li>dressing and undressing </li>
					<li>reading and communicating</li>
					<li>managing your medicines or treatments  </li>
					<li>making decisions about money </li>
					<li>engaging with other people</li>
				</ul>
				<h3 class="heading-small">Mobility difficulties</h3>
				
				<p>You may get the mobility component of <abbr title="Personal Independence Payment">PIP</abbr> if you need help with going out or moving around.</p>
				
				<h2 class="heading-medium">Assessments</h2>
				
				<p>Your claim will be assessed by an independent health professional to help <abbr title="Department for Work and Pensions">DWP</abbr> work out the level of help you need. This may be a face-to-face consultation - you’ll get a letter explaining why and where you must go. </p>
				
				<p><abbr title="Department for Work and Pensions">DWP</abbr> makes the decision about your claim based on the results of the assessment, your <a href="/pip/how-to-claim">application</a> and any supporting evidence you include. </p>
				
				<div class="panel-indent">
					<p>Your rate will be regularly reassessed to make sure you’re getting the right support. Tell <abbr title="Department for Work and Pensions">DWP</abbr> straight away if there’s a change in how your condition affects you.</p>
				</div>
			</article>
	        
	    </div>
	</div>
	<div class="column-third">
		
	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
