{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

{{>includes/phase_banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-number grid-row">
						<div class="column-half">
							<li class="active font-xsmall">
								<span>Overview</span>
							</li>
							<li class="font-xsmall">
								<a href="what-youll-get.html" title="Part 2: What you’ll get">What you’ll get</a>
							</li>
							<li class="font-xsmall">
								<a href="eligibility.html" title="Part 3:  Eligibility">Eligibility</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								<a href="make-a-claim.html" title="Part 4: Make a claim">Make a claim</a>
							</li>
							<li class="font-xsmall">
								<a href="appeals.html" title="Part 5: Appeals">Appeals</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">1. Overview</h1>
		    </header>
			<article>
				<p>Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) helps with some of the extra costs caused by long-term ill-health or a disability if you’re aged 16 to 64. </p>
				
				<p>You could get between <a href="what-youll-get.html">£21.55 and £138.05 a week</a>. </p>
				
				<p>The rate depends on how your condition affects you, not the condition itself. </p>
				
				<p>You’ll need an <a href="eligibility.html">assessment</a> to work out the level of help you get. Your rate will be regularly reassessed to make sure you’re getting the right support.</p>
				
				<div class="panel-indent">
				<p>Your carer could get <a href="http://www.gov.uk/carers-allowance">Carer’s Allowance</a> if you have substantial caring needs.</p>
				</div>
				
				<h2 class="heading-medium">If you get Disability Living Allowance</h2>
				
				<p><abbr title="Personal Independence Payment">PIP</abbr> started to <a href="/dla-disability-living-allowance-benefit/how-to-claim">replace Disability Living Allowance</a> (<abbr title="Disability Living Allowance">DLA</abbr>) for people aged 16 to 64 from 8 April 2013. </p>
				
				<p>Use the <a href="/pip-checker"><abbr title="Personal Independence Payment">PIP</abbr> checker</a> to find out if and when <abbr title="Personal Independence Payment">PIP</abbr> affects your <abbr title="Disability Living Allowance">DLA</abbr>.</p>
				
				<h2 class="heading-medium">Help with <abbr title="Personal Independence Payment">PIP</abbr>
				</h2>
				
				<p>You can contact a <a href="/find-a-community-support-group-or-organisation">local support organisation</a> to get help understanding <abbr title="Personal Independence Payment">PIP</abbr>.</p>
			</article>
	        
	    </div>
	</div>
	
	
	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>
		
			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>
					
					
					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Benefits</h2>
			
			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>
			
			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>
			
			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
