{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

{{>includes/phase_banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-number grid-row">
						<div class="column-half">
							<li class="active font-xsmall">
								<a href="overview.html" title="Part 1: Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								<span>What you’ll get</span>
							</li>
							<li class="font-xsmall">
								<a href="eligibility.html" title="Part 3:  Eligibility">Eligibility</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								<a href="make-a-claim.html" title="Part 4: Make a claim">Make a claim</a>
							</li>
							<li class="font-xsmall">
								<a href="appeals.html" title="Part 5: Appeals">Appeals</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">2. What you'll get</h1>
		    </header>
			<article>
				<p>Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) is usually paid every 4 weeks. It’s tax free and you can get it whether you’re in or out of work. </p>
				
				<p>It’s made up of 2 components (parts). Whether you get one or both of these depends on how your condition affects you.</p>
				
				<h2 class="heading-medium">Daily living component</h2>
				
				<table>
					<thead>
						<tr>
							<th>Daily living component</th>
							<th>Weekly rate</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Standard</td>
							<td>£54.45</td>
						</tr>
						<tr>
							<td>Enhanced</td>
							<td>£81.30</td>
						</tr>
					</tbody>
				</table>
				<h2 class="heading-medium">Mobility component</h2>
				
				<table>
					<thead>
						<tr>
							<th>Mobility component</th>
							<th>Weekly rate</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Standard</td>
							<td>£21.55</td>
						</tr>
						<tr>
							<td>Enhanced</td>
							<td>£56.75</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-indent">
					<p>You’ll need an <a href="eligibility.html">assessment</a> to work out the level of help you’ll get. Your rate will be regularly reassessed to make sure you’re getting the right support.</p>
				</div>
				
				<h2 class="heading-medium">Terminal illness</h2>
				
				<p>You’ll get the enhanced daily living component if you’re not expected to live more than 6 months. The rate of mobility component depends on your needs.</p>
				
				<h2 class="heading-medium">How you’re paid</h2>
				
				<p>All benefits, pension and allowances are paid <a href="http://www.gov.uk/how-to-have-your-benefits-paid">into an account</a>, eg your bank account. </p>
				
				<h2 class="heading-medium">Other help</h2>
				
				<p>You might not have to pay some or all of your vehicle tax if you qualify for <a href="http://www.gov.uk/financial-help-disabled/vehicles-and-transport">vehicle tax exemption or a 50% reduction</a>. </p>
				
				<p>You or your carer might also qualify for <a href="http://www.gov.uk/financial-help-disabled">other financial help</a> - eg Carer’s Allowance, or help with housing or transport costs.</p>
				
				<h2 class="heading-medium">Change of circumstances</h2>
				
				<p>You must contact the <abbr title="Personal Independence Payment">PIP</abbr> helpline if your circumstances change, as this can affect how much you get. For example: </p>
				
				<ul class="list-bullet">
					<li>the level of help you need or your condition changes </li>
					<li>you go into hospital or a care home for more than 4 weeks </li>
					<li>you go abroad for more than 13 weeks </li>
					<li>you’re imprisoned or held in detention </li>
				</ul>
				<p>You must also contact the helpline if:</p>
				
				<ul class="list-bullet">
					<li>you change your name, address or bank details </li>
					<li>you want to stop receiving your benefit </li>
					<li>your doctor’s details change </li>
				</ul>
				<div class="panel-indent">
					<p>You could get a £50 <a href="http://www.gov.uk/civil-penalty-changes-affect-benefits">civil penalty</a> and have to repay overpaid benefits if you don’t report changes and are overpaid as a result.</p>
				</div>
				
				<div class="contact">
					<h2 class="heading-small"><abbr title="Personal Independence Payment">PIP</abbr> helpline</h2> 
					Telephone: 0345 850 3322<br>
					Textphone: 0345 601 6677<br>
					Monday to Friday, 8am to 6pm<br><a href="http://www.gov.uk/call-charges">Find out about call charges</a></p>
				</div>
			</article>
	        
	    </div>
	</div>
	
	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>
		
			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>
					
					
					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Benefits</h2>
			
			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>
			
			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>
			
			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
